:root {
  --el-menu-bg-color: #fff;
  --el-border-color-light: #e4e7ed;
}

#nprogress .bar {
  background: var(--el-color-primary); // 进度条颜色
}

#nprogress .spinner {
  display: none; // 进度条加载的右边的圆圈让不显示
}

.el-menu {
  border-right: none !important;
}

.breadcrumb-enter-active {
  transition: all 0.2s;
}
.breadcrumb-enter-from,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(10px);
}

//离开和进入属性
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.2s;
}
// 动画入场
.fade-transform-enter-from {
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(-30px);
}
// 动画出场
.fade-transform-leave-to {
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(30px);
}

.el-menu--horizontal {
  border: none !important;
}
